# Análisis de los datos

## Importar datos

In [ ]:
import pandas as pd
import numpy as np

Se importan las diferentes hojas de datos por cada año.

In [ ]:
df2014 = pd.read_excel('./drive/MyDrive/DatosInvestigacion/FINAL_resumen cuenca ago 2017.xlsx',sheet_name="PROMEDIO_2014")

In [ ]:
df2015 = pd.read_excel('./drive/MyDrive/DatosInvestigacion/FINAL_resumen cuenca ago 2017.xlsx',sheet_name="PROMEDIO_2015")
df2016 = pd.read_excel('./drive/MyDrive/DatosInvestigacion/FINAL_resumen cuenca ago 2017.xlsx',sheet_name="PROMEDIO_2016")
df2017 = pd.read_excel('./drive/MyDrive/DatosInvestigacion/FINAL_resumen cuenca ago 2017.xlsx',sheet_name="PROMEDIO_2017")

## Variables

In [ ]:
df2017.keys()

Index(['Date', 'Time', 'Local Time', 'DC', 'PAAVG1H', 'PAMAX1H', 'PAMIN1H',
       'PRSUM1H', 'RHAVG1H', 'RHMAX1H', 'RHMIN1H', 'SRDIFAVG1H', 'SRDIFMAX1H',
       'SRDIFMIN1H', 'SRDIFSUM1H', 'SRGLOAVG1H', 'SRGLOMAX1H', 'SRGLOMIN1H',
       'SRGLOSUM1H', 'TAAVG1H', 'TAMAX1H', 'TAMIN1H', 'TS1AVG1H', 'TS1MAX1H',
       'TS1MIN1H', 'TS2AVG1H', 'TS2MAX1H', 'TS2MIN1H', 'TS3AVG1H', 'TS3MAX1H',
       'TS3MIN1H', 'TS4AVG1H', 'TS4MAX1H', 'TS4MIN1H', 'TS5AVG1H', 'TS5MAX1H',
       'TS5MIN1H', 'TS6AVG1H', 'TS6MAX1H', 'TS6MIN1H', 'TS7AVG1H', 'TS7MAX1H',
       'TS7MIN1H', 'WD1HA', 'WD1HX', 'WDGM', 'WGD1HX', 'WGDH', 'WR1H', 'WS1HA',
       'WS1HM', 'WS1HX'],
      dtype='object')

Se cuentan con las siguientes variables:
* DC ( Voltaje de la batería ) 
* PAAVG1H ( Presión Barométrica Promedio )
* PAMAX1H ( Presión Barométrica Máxima )
* PAMIN1H ( Presión Barométrica Mínima )
* PRSUM1H ( Precipitación Sumatoria )
* RHMAX1H ( Humedad Relativa Máxima )
* RHMIN1H ( Humedad Relativa Mínima )
* SRDIFAVG1H ( Radiación Solar Difusa Promedio )
* SRDIFMAX1H ( Radiación Solar Difusa Máxima )
* SRDIFMIN1H ( Radiación Solar Difusa Mínima )
* SRDIFSUM1H ( Radiación Solar Difusa Sumatoria )
* SRGLOAVG1H ( Radiación Solar Global Promedio  )
* SRGLOMAX1H ( Radiación Solar Global Máxima )
* SRGLOMIN1H ( Radiación Solar Global Mínima )
* SRGLOSUM1H ( Radiación Solar Global Sumatoria  )
* TAAVG1H ( Temperatura del aire Promedio  )
* TAMAX1H ( Temperatura del aire Máxima )
* TAMIN1H ( Temperatura del aire Mínima  )
* WD1HA ( Dirección del viento Promedio )
* WDGM ( Minuto de la racha )
* WGD1HX ( Dirección de la racha Máxima )
* WGDH ( Hora de la racha )
* WR1H ( Recorrido del vento )
* WS1HA ( Velocidad del Viento Promedio  )
* WS1HX ( Velocidad del Viento Máxima  )

## Evaluación de datasets

La primera fila de los datasets contiene la información de unidades de medida.

**Año 2014**

In [ ]:
df2014.head(3)

                  Date      Time Local Time    DC  ... WR1H WS1HA WS1HM WS1HX
0                  NaN       NaN        NaN     V  ...  NaN   m/s   m/s   m/s
1  2014-01-03 00:00:00  21:00:00   16:00:00  13.3  ...    /     /     /     /
2  2014-01-03 00:00:00  22:00:00   17:00:00  12.8  ...   61   4.2   0.3   7.8

[3 rows x 52 columns]

El año 2014 tiene información extra al final.

In [ ]:
df2014.tail(3)

                     Date      Time           Local Time  ...    WS1HA WS1HM WS1HX
8698  2015-01-01 00:00:00  06:00:00  1900-04-21 01:00:00  ...        1     0   2.9
8699                  NaN       NaN                  NaN  ...      NaN   NaN   NaN
8700    VALORES PROMEDIO        NaN                  NaN  ...  2.57349   NaN   NaN

[3 rows x 52 columns]

**Año 2015**

In [ ]:
df2015

           Date      Time           Local Time    DC  ...  WR1H WS1HA WS1HM WS1HX
0           NaT       NaN                  NaN     V  ...   NaN   m/s   m/s   m/s
1    2015-01-01  06:00:00             01:00:00  13.1  ...  15.0     1     0   2.9
2    2015-01-01  07:00:00             02:00:00  13.1  ...  26.0   1.8     0     3
3    2015-01-01  08:00:00             03:00:00  13.1  ...  28.0   1.9   0.5   2.9
4    2015-01-01  09:00:00             04:00:00    13  ...  23.0   1.5   0.4   2.7
...         ...       ...                  ...   ...  ...   ...   ...   ...   ...
8756 2016-01-01  01:00:00  1901-01-01 20:00:00  13.2  ...  47.0   3.2     0   5.1
8757 2016-01-01  02:00:00  1901-01-01 21:00:00  13.2  ...  53.0   3.6   0.3   6.1
8758 2016-01-01  03:00:00  1901-01-01 22:00:00  13.2  ...  45.0     3   0.4   4.9
8759 2016-01-01  04:00:00  1901-01-01 23:00:00  13.1  ...  29.0   1.9     0   4.5
8760 2016-01-01  05:00:00  1901-01-02 00:00:00  13.1  ...  10.0   0.6     0   2.1

[8761 rows x 52 columns]

**Año 2016**

In [ ]:
df2016

                    Date      Time          Local Time  ... WS1HA WS1HM WS1HX
0                    NaT       NaN                 NaT  ...   m/s   m/s   m/s
1    2016-01-01 00:00:00  06:00:00 1901-01-02 01:00:00  ...   1.5     0   2.7
2    2016-01-01 00:00:00  07:00:00 1901-01-02 02:00:00  ...   1.8   0.4   3.1
3    2016-01-01 00:00:00  08:00:00 1901-01-02 03:00:00  ...   2.3   0.5   4.3
4    2016-01-01 00:00:00  09:00:00 1901-01-02 04:00:00  ...   2.4   0.6   4.2
...                  ...       ...                 ...  ...   ...   ...   ...
8780 2017-01-01 01:00:00       NaN 1902-01-02 20:00:00  ...   2.8     0   6.1
8781 2017-01-01 02:00:00       NaN 1902-01-02 21:00:00  ...   2.3     0   5.1
8782 2017-01-01 03:00:00       NaN 1902-01-02 22:00:00  ...   1.3     0   2.9
8783 2017-01-01 04:00:00       NaN 1902-01-02 23:00:00  ...   0.2     0     2
8784 2017-01-01 05:00:00       NaN 1902-01-03 00:00:00  ...   0.4     0   1.9

[8785 rows x 52 columns]

**Año 2017**

In [ ]:
df2017

                    Date  Time                  Local Time  ... WS1HA WS1HM WS1HX
0                    NaT   NaN                         NaN  ...   m/s   m/s   m/s
1    2017-01-01 06:00:00   NaN         1902-01-03 01:00:00  ...   0.3     0   1.8
2    2017-01-01 07:00:00   NaN         1902-01-03 02:00:00  ...   0.5     0   1.7
3    2017-01-01 08:00:00   NaN         1902-01-03 03:00:00  ...   0.5     0   1.7
4    2017-01-01 09:00:00   NaN         1902-01-03 04:00:00  ...   0.6     0   1.8
...                  ...   ...                         ...  ...   ...   ...   ...
3630 2017-06-01 11:00:00   NaN  1900-03-23 06:00:00.196000  ...    /     /      /
3631 2017-06-01 12:00:00   NaN  1900-03-23 07:00:00.196000  ...    /     /      /
3632 2017-06-01 13:00:00   NaN  1900-03-23 08:00:00.196000  ...    /     /      /
3633 2017-06-01 14:00:00   NaN  1900-03-23 09:00:00.196000  ...    /     /      /
3634 2017-06-01 15:00:00   NaN  1900-03-23 10:00:00.196000  ...    /     /      /

[3635 rows x 52 columns]

Se eliminan las filas sin información de todos los datasets.

In [ ]:
df2014 = df2014.iloc[1:8699][:] # información extra al final

In [ ]:
df2015 = df2015.iloc[1:][:]
df2016 = df2016.iloc[1:][:]
df2017 = df2017.iloc[1:][:]

In [ ]:
df2014

                     Date      Time           Local Time  ... WS1HA WS1HM WS1HX
2     2014-01-03 00:00:00  22:00:00             17:00:00  ...   4.2   0.3   7.8
3     2014-01-03 00:00:00  23:00:00             18:00:00  ...   3.1     0   6.2
4     2014-01-04 00:00:00  00:00:00             19:00:00  ...   2.6     0   5.8
5     2014-01-04 00:00:00  01:00:00             20:00:00  ...   1.8   0.3   3.2
6     2014-01-04 00:00:00  02:00:00             21:00:00  ...   1.6     0   3.6
...                   ...       ...                  ...  ...   ...   ...   ...
8694  2015-01-01 00:00:00  02:00:00  1900-04-20 21:00:00  ...     1     0   2.7
8695  2015-01-01 00:00:00  03:00:00  1900-04-20 22:00:00  ...   0.4     0   2.2
8696  2015-01-01 00:00:00  04:00:00  1900-04-20 23:00:00  ...   0.2     0   1.7
8697  2015-01-01 00:00:00  05:00:00  1900-04-21 00:00:00  ...   0.2     0   1.1
8698  2015-01-01 00:00:00  06:00:00  1900-04-21 01:00:00  ...     1     0   2.9

[8697 rows x 52 columns]

## Evaluación de los datos

Se cuentan los valores nulos.

**2014**

In [ ]:
df2014.isna().sum()

Date           0
Time           0
Local Time     0
DC            20
PAAVG1H       20
PAMAX1H       20
PAMIN1H       20
PRSUM1H       20
RHAVG1H       20
RHMAX1H       20
RHMIN1H       20
SRDIFAVG1H    20
SRDIFMAX1H    20
SRDIFMIN1H    20
SRDIFSUM1H    20
SRGLOAVG1H    20
SRGLOMAX1H    20
SRGLOMIN1H    20
SRGLOSUM1H    20
TAAVG1H       20
TAMAX1H       20
TAMIN1H       20
TS1AVG1H      20
TS1MAX1H      20
TS1MIN1H      20
TS2AVG1H      20
TS2MAX1H      20
TS2MIN1H      20
TS3AVG1H      20
TS3MAX1H      20
TS3MIN1H      20
TS4AVG1H      20
TS4MAX1H      20
TS4MIN1H      20
TS5AVG1H      20
TS5MAX1H      20
TS5MIN1H      20
TS6AVG1H      20
TS6MAX1H      20
TS6MIN1H      20
TS7AVG1H      20
TS7MAX1H      20
TS7MIN1H      20
WD1HA         20
WD1HX         20
WDGM          20
WGD1HX        20
WGDH          20
WR1H          20
WS1HA         20
WS1HM         20
WS1HX         20
dtype: int64

El contenido de casi todas las columnas debería ser numérico, el dataset del 2014 contiene varios datos combinados, por eso se obtiene el tipo de dato: object.

In [ ]:
df2014.dtypes

Date          object
Time          object
Local Time    object
DC            object
PAAVG1H       object
PAMAX1H       object
PAMIN1H       object
PRSUM1H       object
RHAVG1H       object
RHMAX1H       object
RHMIN1H       object
SRDIFAVG1H    object
SRDIFMAX1H    object
SRDIFMIN1H    object
SRDIFSUM1H    object
SRGLOAVG1H    object
SRGLOMAX1H    object
SRGLOMIN1H    object
SRGLOSUM1H    object
TAAVG1H       object
TAMAX1H       object
TAMIN1H       object
TS1AVG1H      object
TS1MAX1H      object
TS1MIN1H      object
TS2AVG1H      object
TS2MAX1H      object
TS2MIN1H      object
TS3AVG1H      object
TS3MAX1H      object
TS3MIN1H      object
TS4AVG1H      object
TS4MAX1H      object
TS4MIN1H      object
TS5AVG1H      object
TS5MAX1H      object
TS5MIN1H      object
TS6AVG1H      object
TS6MAX1H      object
TS6MIN1H      object
TS7AVG1H      object
TS7MAX1H      object
TS7MIN1H      object
WD1HA         object
WD1HX         object
WDGM          object
WGD1HX        object
WGDH          object
WR1H          object
WS1HA         object
WS1HM         object
WS1HX         object
dtype: object

**2015**

In [ ]:
df2015.isna().sum()

Date          0
Time          0
Local Time    0
DC            1
PAAVG1H       1
PAMAX1H       1
PAMIN1H       1
PRSUM1H       1
RHAVG1H       1
RHMAX1H       1
RHMIN1H       1
SRDIFAVG1H    1
SRDIFMAX1H    1
SRDIFMIN1H    1
SRDIFSUM1H    1
SRGLOAVG1H    1
SRGLOMAX1H    1
SRGLOMIN1H    1
SRGLOSUM1H    1
TAAVG1H       1
TAMAX1H       1
TAMIN1H       1
TS1AVG1H      1
TS1MAX1H      1
TS1MIN1H      1
TS2AVG1H      1
TS2MAX1H      1
TS2MIN1H      1
TS3AVG1H      1
TS3MAX1H      1
TS3MIN1H      1
TS4AVG1H      1
TS4MAX1H      1
TS4MIN1H      1
TS5AVG1H      1
TS5MAX1H      1
TS5MIN1H      1
TS6AVG1H      1
TS6MAX1H      1
TS6MIN1H      1
TS7AVG1H      1
TS7MAX1H      1
TS7MIN1H      1
WD1HA         1
WD1HX         1
WDGM          1
WGD1HX        1
WGDH          1
WR1H          1
WS1HA         1
WS1HM         1
WS1HX         1
dtype: int64

Los datos del año 2015 parecen los mejores. Tienen menos valores nules y, al revisar el tipo de dato, se puede observar que varias filas ya tienen un tipo de dato numérico.

In [ ]:
df2015.dtypes

Date          datetime64[ns]
Time                  object
Local Time            object
DC                    object
PAAVG1H               object
PAMAX1H               object
PAMIN1H               object
PRSUM1H               object
RHAVG1H               object
RHMAX1H               object
RHMIN1H               object
SRDIFAVG1H           float64
SRDIFMAX1H           float64
SRDIFMIN1H           float64
SRDIFSUM1H           float64
SRGLOAVG1H           float64
SRGLOMAX1H           float64
SRGLOMIN1H           float64
SRGLOSUM1H           float64
TAAVG1H               object
TAMAX1H               object
TAMIN1H               object
TS1AVG1H              object
TS1MAX1H              object
TS1MIN1H              object
TS2AVG1H              object
TS2MAX1H              object
TS2MIN1H              object
TS3AVG1H              object
TS3MAX1H              object
TS3MIN1H              object
TS4AVG1H              object
TS4MAX1H              object
TS4MIN1H              object
TS5AVG1H              object
TS5MAX1H              object
TS5MIN1H              object
TS6AVG1H              object
TS6MAX1H              object
TS6MIN1H              object
TS7AVG1H              object
TS7MAX1H              object
TS7MIN1H              object
WD1HA                 object
WD1HX                 object
WDGM                  object
WGD1HX               float64
WGDH                 float64
WR1H                 float64
WS1HA                 object
WS1HM                 object
WS1HX                 object
dtype: object

**2016**

In [ ]:
df2016.isna().sum()

Date             0
Time          7014
Local Time       0
DC            1282
PAAVG1H          0
PAMAX1H          0
PAMIN1H          0
PRSUM1H          0
RHAVG1H          0
RHMAX1H          0
RHMIN1H          0
SRDIFAVG1H       0
SRDIFMAX1H       0
SRDIFMIN1H       0
SRDIFSUM1H       0
SRGLOAVG1H       0
SRGLOMAX1H       0
SRGLOMIN1H       0
SRGLOSUM1H       0
TAAVG1H          0
TAMAX1H          0
TAMIN1H          0
TS1AVG1H         0
TS1MAX1H         0
TS1MIN1H         0
TS2AVG1H         0
TS2MAX1H         0
TS2MIN1H         0
TS3AVG1H         0
TS3MAX1H         0
TS3MIN1H         0
TS4AVG1H         0
TS4MAX1H         0
TS4MIN1H         0
TS5AVG1H         0
TS5MAX1H         0
TS5MIN1H         0
TS6AVG1H         0
TS6MAX1H         0
TS6MIN1H         0
TS7AVG1H         0
TS7MAX1H         0
TS7MIN1H         0
WD1HA            0
WD1HX            0
WDGM             0
WGD1HX           0
WGDH             0
WR1H             0
WS1HA            0
WS1HM            0
WS1HX            0
dtype: int64

Los datosd el 2016 tienen menos valores nulos, excepto en el tiempo y el voltaje. Sin embarbo, en los tipos de datos se puede observar que no hay tipos numéricos, lo que puede indicar valores nulos que no son tan obvios.

In [ ]:
df2016.dtypes

Date          datetime64[ns]
Time                  object
Local Time    datetime64[ns]
DC                    object
PAAVG1H               object
PAMAX1H               object
PAMIN1H               object
PRSUM1H               object
RHAVG1H               object
RHMAX1H               object
RHMIN1H               object
SRDIFAVG1H            object
SRDIFMAX1H            object
SRDIFMIN1H            object
SRDIFSUM1H            object
SRGLOAVG1H            object
SRGLOMAX1H            object
SRGLOMIN1H            object
SRGLOSUM1H            object
TAAVG1H               object
TAMAX1H               object
TAMIN1H               object
TS1AVG1H              object
TS1MAX1H              object
TS1MIN1H              object
TS2AVG1H              object
TS2MAX1H              object
TS2MIN1H              object
TS3AVG1H              object
TS3MAX1H              object
TS3MIN1H              object
TS4AVG1H              object
TS4MAX1H              object
TS4MIN1H              object
TS5AVG1H              object
TS5MAX1H              object
TS5MIN1H              object
TS6AVG1H              object
TS6MAX1H              object
TS6MIN1H              object
TS7AVG1H              object
TS7MAX1H              object
TS7MIN1H              object
WD1HA                 object
WD1HX                 object
WDGM                  object
WGD1HX                object
WGDH                  object
WR1H                  object
WS1HA                 object
WS1HM                 object
WS1HX                 object
dtype: object

**2017**

Al dataset del 2017 le hacen falta 461 filas.

In [ ]:
df2017.isna().sum()

Date             0
Time          3634
Local Time       0
DC             461
PAAVG1H        461
PAMAX1H        461
PAMIN1H        461
PRSUM1H        461
RHAVG1H        461
RHMAX1H        461
RHMIN1H        461
SRDIFAVG1H     461
SRDIFMAX1H     461
SRDIFMIN1H     461
SRDIFSUM1H     461
SRGLOAVG1H     461
SRGLOMAX1H     461
SRGLOMIN1H     461
SRGLOSUM1H     461
TAAVG1H        461
TAMAX1H        461
TAMIN1H        461
TS1AVG1H       461
TS1MAX1H       461
TS1MIN1H       461
TS2AVG1H       461
TS2MAX1H       461
TS2MIN1H       461
TS3AVG1H       461
TS3MAX1H       461
TS3MIN1H       461
TS4AVG1H       461
TS4MAX1H       461
TS4MIN1H       461
TS5AVG1H       461
TS5MAX1H       461
TS5MIN1H       461
TS6AVG1H       461
TS6MAX1H       461
TS6MIN1H       461
TS7AVG1H       461
TS7MAX1H       461
TS7MIN1H       461
WD1HA          461
WD1HX          461
WDGM           461
WGD1HX         461
WGDH           461
WR1H           461
WS1HA          461
WS1HM          461
WS1HX          461
dtype: int64

In [ ]:
df2017.dtypes

Date          datetime64[ns]
Time                 float64
Local Time            object
DC                    object
PAAVG1H               object
PAMAX1H               object
PAMIN1H               object
PRSUM1H               object
RHAVG1H               object
RHMAX1H               object
RHMIN1H               object
SRDIFAVG1H           float64
SRDIFMAX1H           float64
SRDIFMIN1H           float64
SRDIFSUM1H           float64
SRGLOAVG1H           float64
SRGLOMAX1H           float64
SRGLOMIN1H           float64
SRGLOSUM1H           float64
TAAVG1H               object
TAMAX1H               object
TAMIN1H               object
TS1AVG1H              object
TS1MAX1H              object
TS1MIN1H              object
TS2AVG1H              object
TS2MAX1H              object
TS2MIN1H              object
TS3AVG1H              object
TS3MAX1H              object
TS3MIN1H              object
TS4AVG1H              object
TS4MAX1H              object
TS4MIN1H              object
TS5AVG1H              object
TS5MAX1H              object
TS5MIN1H              object
TS6AVG1H              object
TS6MAX1H              object
TS6MIN1H              object
TS7AVG1H              object
TS7MAX1H              object
TS7MIN1H              object
WD1HA                 object
WD1HX                 object
WDGM                  object
WGD1HX                object
WGDH                  object
WR1H                  object
WS1HA                 object
WS1HM                 object
WS1HX                 object
dtype: object

En base a este análisis se determina que el mejor dataset para empezar a trabajar y hacer los experimentos iniciales es el del **año 2015**.